<% provide(:title, "About") %>


<h1>About</h1>
<p>
  I am starting to think that Michael Hartl is driving his google page rank by requiring you to mention his website on every page of his tutorial excercises...
</p>
