<% provide(:title, "Home") %>

<h1>Sample App</h1>
<p>
  This is the home page for the sample app built by David Low using the template from this<a href='http://www.railstutorial.org/book'>Ruby on Rails Tutorial</a> by Michael Hartl.
</p>
